.character1-content {
  padding: 1%;
  max-height: 40%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.character1 {
  width: 100%;
}
.character1-topbar {
  width: 100%;
}
.character1-bottombar {
}
