.village {
  display: flex;
  flex-direction: row;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.col {
  display: flex;
}

.col h5 {
  margin: 0 10px;
}

.addressImg {
  margin-top: 53%;
}