.village {
  display: flex;
  flex-direction: row;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.col {
  display: flex;
}

.col h5 {
  margin: 0 10px;
}

.addressImg {
  margin-top: 31rem;
  margin-left: 10rem;
  height: 200px;
}

.firstMaterials {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.lastMaterials {
  display: flex;
  justify-content: center;
  align-items: center;
}