.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.allies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 50%;
  justify-content: space-between;
}

.enemies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 50%;
}